@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }

            @*@foreach (var toDo in toDos)
            {
                <tr>
                    <td>@toDo.Title</td>
                 
                </tr>
            }*@

            @foreach (var company in companies)
            {
                <tr>
                    <td>@company.Symbol</td>
                    <td>@company.Name</td>
                    <td>@company.Cik</td>
                    <td>@company.SubSector</td>
                </tr>
            }

        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    //private ToDo[]? toDos;
    private Company[]? companies;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        //toDos = await Http.GetFromJsonAsync<ToDo[]>("https://cloud-run-service-gxnjs4mbgq-uc.a.run.app/firestoredata");
    
        companies = await Http.GetFromJsonAsync<Company[]>("https://cloud-run-service-gxnjs4mbgq-uc.a.run.app/firestoredata");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    public class Company {
        public string Symbol { get; set; }
        public string Cik { get; set; }
        public string Name { get; set; }
        public string SubSector { get; set;  }
        public string Sector { get; set; }
        public string HeadQuarters { get; set; }
    } 
    
  }
 
