@page "/"

<PageTitle>Index</PageTitle>

<PageSubHeader>
    <h2> Google Cloud & Blazor Demo</h2>
</PageSubHeader>

<p>
    This site was developed as a proof of concept to evaluate Google Cloud’s <a target="_blank" href="https://cloud.google.com/free?utm_source=google&utm_medium=cpc&utm_campaign=na-US-all-en-dr-bkws-all-all-trial-e-dr-1605212&utm_content=text-ad-none-any-DEV_c-CRE_665665924741-ADGP_Hybrid+%7C+BKWS+-+MIX+%7C+Txt_Google+Cloud+Free-KWID_43700077224933016-kwd-88539433257&utm_term=KW_google%20cloud%20free%20tier-ST_google+cloud+free+tier&gad_source=1&gclid=CjwKCAiA1fqrBhA1EiwAMU5m_2JD-Lv_aELEYWXw6KTPvwe5jXnnBheloS39mipHBtAKbRQ3lGE5gRoCEC4QAvD_BwE&gclsrc=aw.ds">Free Tier products</a>
</p>
<p>
    A great way to learn any technology is to develop a site or tool around a topic outside of your core day-to-day business that interests you such as a hobby you may have. In this example, vegtable gardening provided the theme due to the different aspects it can provide with available data and potential charting/dashboard options.
</p>
<p>
    The tech stack used for this site includes the following:
</p>
<p>
    <ul>
        <li>
            Blazor WASM (.NET 6) for the client-side app 
        </li>
        <li>
            Ant Design Blazor UI components 
        </li>
        <li>
            Google Cloud Platform
            <ul>
                <li>
                    Cloud Source
                </li>
                <li>
                    Cloud Build
                </li>
                <li>
                    Cloud Run
                </li>
                <li>
                    API Gateway 
                </li>
                <li>
                    Cloud Functions
                </li>
                <li>
                    Firestore NoSQL Database 
                </li>
            </ul>
        </li>
    </ul>
</p>
<p>
    The architecture diagram gives a visual of how it all works together.
</p>


<Button Type="primary" OnClick="@(()=>{ _visible = true; })">
    View Diagram
</Button>
<Modal Title="Site Architecture Diagram"
       @bind-Visible="@_visible"
       Maximizable="@true"
       Centered="@true"
       DefaultMaximized="@true">
    <p style="text-align:center">
        <img src="/images/GcpArchitecture.jpg" height="526" width="966" />
    </p>
</Modal>

@code {

    bool _visible = false;

}